@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");

:root,
[data-theme="light"] {
  --primary: #2563EB;
  --primary-hover: #1D4ED8;

  --bg: #F8FAFC;
  --surface: #FFFFFF;

  --text: #0F172A;
  --text-secondary: #64748B;

  --border: #E2E8F0;

  --shadow: rgba(0,0,0,0.08);
}

[data-theme="dark"] {
  --primary: #3B82F6;
  --primary-hover: #60A5FA;

  --bg: #020617;
  --surface: #0F172A;

  --text: #F8FAFC;
  --text-secondary: #94A3B8;

  --border: #334155;

  --shadow: rgba(0,0,0,0.4);
}

body {
  font-family: "Cairo", sans-serif;
  background: var(--bg);
  color: var(--text);
}